/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */


  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-peppermint);
  --body-background-colour: var(--colour-cello);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*landing page*/

.header{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro-background{
  position: absolute;
  width: 100%;
  height: 1080px;
  max-height: 1080vh;

}



/* Start of the intro sequence */
